@using Ecommerce.Models
@using Ecommerce.Areas.User.Models
@{
    Layout = "_Layout";
    ViewData["Title"] = "Lottie Animation";
}
<title>من نحن؟</title>
<div class="d-flex justify-content-center align-items-center" style="height: 80vh; background: #f4f4f4;">
    <dotlottie-wc src="https://lottie.host/1329592d-3d3d-4cec-b49a-99b802071fdb/1FnmhgWiZl.lottie"
                  autoplay
                  loop
                  style="width:550px; height:550px; cursor:pointer; transition: transform 0.3s ease;">
    </dotlottie-wc>
</div>


    <script type="module" src="https://unpkg.com/@@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js"></script>
